@charset "UTF-8";

@font-face {
    font-family:'passionone';
    src: url('PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'sriracha';
    src: url('Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'slipper';
    src: url('OPTISlipper.otf') format('opentype');
    font-weight: normal;
}



:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque:'passionone', cursivo;
    --fonte3:'sriracha', cursiva;
    --fonte4:'slipper';
  
}

*{
    margin: 0px;
    padding: 0px;

}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    
}

header{
    background-color: black;
    color: white;
    text-align: center;  
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.697);
    color: white;

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.127);
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
