@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família=Paixão+One&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Sriracha&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:  'Passion One', cursivo;
    --font3:  'Sriracha', cursiva;
}

*{
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;  
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family:var(--font2);
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family:;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.697);
    color: white;

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.127);
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
